<p id="notice"><%= notice %></p>

<p>
  <strong>Opportunity:</strong>
  <%= @bid.opportunity %>
</p>

<p>
  <strong>Is interested:</strong>
  <%= @bid.is_interested %>
</p>

<p>
  <strong>Is unsure:</strong>
  <%= @bid.is_unsure %>
</p>

<p>
  <strong>Company:</strong>
  <%= @bid.company %>
</p>

<p>
  <strong>Reason unsure:</strong>
  <%= @bid.reason_unsure %>
</p>

<p>
  <strong>Need assistance 1:</strong>
  <%= @bid.need_assistance_1 %>
</p>

<p>
  <strong>Need assistance 2:</strong>
  <%= @bid.need_assistance_2 %>
</p>

<p>
  <strong>Able to complete:</strong>
  <%= @bid.able_to_complete %>
</p>

<p>
  <strong>Decline reasons:</strong>
  <%= @bid.decline_reasons %>
</p>

<p>
  <strong>Contacted:</strong>
  <%= @bid.contacted %>
</p>

<p>
  <strong>Employee notes:</strong>
  <%= @bid.employee_notes %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
