<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Entity Number:</strong>
  <%= @company.entity_number %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @company.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @company.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @company.zip %>
</p>

<p>
  <strong>Business structure:</strong>
  <%= @company.business_structure %>
</p>

<p>
  <strong>Year established:</strong>
  <%= @company.year_established %>
</p>

<p>
  <strong>Number of employees:</strong>
  <%= @company.number_of_employees %>
</p>

<p>
  <strong>Last year sales:</strong>
  <%= @company.last_year_sales %>
</p>

<p>
  <strong>Counties:</strong>
  <%= @company.counties %>
</p>

<p>
  <strong>General liability insurance amount:</strong>
  <%= @company.general_liability_insurance_amount %>
</p>

<p>
  <strong>Contract dollars level interest min:</strong>
  <%= @company.contract_dollars_level_interest_min %>
</p>

<p>
  <strong>Contract dollars level interest max:</strong>
  <%= @company.contract_dollars_level_interest_max %>
</p>

<p>
  <strong>Nature of business:</strong>
  <%= @company.nature_of_business %>
</p>

<p>
  <strong>Is union contractor:</strong>
  <%= @company.is_union_contractor %>
</p>

<p>
  <strong>Bonding capacity:</strong>
  <%= @company.bonding_capacity %>
</p>

<p>
  <strong>Type of construction:</strong>
  <%= @company.type_of_construction %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
