<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @opportunity.client %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @opportunity.project_name %>
</p>

<p>
  <strong>Project owner:</strong>
  <%= @opportunity.project_owner %>
</p>

<p>
  <strong>Union contract:</strong>
  <%= @opportunity.union_contract %>
</p>

<p>
  <strong>City:</strong>
  <%= @opportunity.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @opportunity.state %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @opportunity.contact_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @opportunity.contact_phone %>
</p>

<p>
  <strong>Contact fax:</strong>
  <%= @opportunity.contact_fax %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @opportunity.contact_email %>
</p>

<p>
  <strong>Bid date:</strong>
  <%= @opportunity.bid_date %>
</p>

<p>
  <strong>Trades solicited:</strong>
  <%= @opportunity.trades_solicited %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @opportunity.project_description %>
</p>

<p>
  <strong>Bid instructions:</strong>
  <%= @opportunity.bid_instructions %>
</p>

<p>
  <strong>Project url:</strong>
  <%= @opportunity.project_url %>
</p>

<%= link_to 'Edit', edit_opportunity_path(@opportunity) %> |
<%= link_to 'Back', opportunities_path %>
